Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ModularBuildingSet
Content/Downtown_West
Content/FirstPersonBP/Maps/Demo_Scene_BuiltData.uasset
*.zip
Content/FirstPersonBP/Maps/Demo_Scene_BuiltData.uasset
Content/FirstPersonBP/Maps/Demo_Scene_BuiltData.uasset